<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/cstyle.css">
</head>

<body>
    <div class="login-containter">
        <div class="login">
            <h1>Login as Client or Freelancer</h1>
            <form>
                <div class="choice">
                    <input type="radio" name="g" value="client">
                    <label for="">I'm Client, want to hire.</label><br>
                    <input type="radio" name="g" value="freelancer">
                    <label for="">I'm freelancer, want work.</label>
                </div>
            </form>
            <div class="btn">
                <a href="reg.html">Create Account</a>
            </div>
        </div>
        

    </div>
</body>

</html>